* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(20, 26, 35,0.55),rgba(20, 26, 35, 0.55)),
				url("../images/minecraft.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: "Open Sans", Helvetica;
	margin: 0;
	position: relative;
}

.logo img {
	-webkit-animation-name: logo;
	        animation-name: logo;
	-webkit-animation-duration: 5s;
	        animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	        animation-timing-function: ease-in-out;
}


@-webkit-keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

@keyframes logo {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.07);
		        transform: scale(1.07);
	}
	100% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
}

.ip {
	cursor: pointer;
}

.scale {
	transition: all .2s ease-in-out;
}

.scale:hover {
	-webkit-transform:scale(1.05);
	    -ms-transform:scale(1.05);
	        transform:scale(1.05);
}

a {
	text-decoration: none !important;
}